.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
}
.app-wrapper h1 {
  color: #CC9966;
  font-weight: 800;
}
.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.welcome #particles-js {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.welcome .welcome-text {
  z-index: 1;
  font-size: 1.3em;
  width: 40vw;
  height: 100vh;
  padding: 10%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome .welcome-img {
  z-index: 1;
  width: 60vw;
  height: 70vh;
  color: grey;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.welcome .welcome-img .me {
  width: 100%;
  height: auto;
}
.welcome .welcome-img figcaption {
  text-align: center;
}
.welcome .arrow {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin-bottom: 2%;
}
.welcome .arrow i {
  font-size: 3em;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
}
.app-wrapper h1 {
  color: #CC9966;
  font-weight: 800;
}

.modal-wrapper {
  display: block;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 80, 80, 0.7);
  z-index: 2;
}
.modal-wrapper .close {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.modal-wrapper .modal {
  z-index: 3;
  background-color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 60vw;
  height: 75vh;
}
.modal-wrapper .modal .img-wrapper {
  max-width: 40vw;
  max-height: 20vw;
}
.modal-wrapper .modal .img-wrapper .img {
  height: 100%;
  width: 100%;
}
.modal-wrapper .modal .desc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-wrapper .modal .links {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
.modal-wrapper .modal .links .link {
  padding: 2%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-size: 1.3em;
  border: 1px solid black;
  background-color: #333366;
  color: white;
}
.instruments-wrapper {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.instruments-wrapper h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruments-wrapper .instruments {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.instruments-wrapper .instruments .instrument {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #5f7583;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 2%;
  user-select: none;
}
.instruments-wrapper .instruments .instrument:hover {
  filter: brightness(1.1);
}
.instruments-wrapper .instruments .instrument img {
  width: 2em;
  height: 2em;
}
.instruments-wrapper .instruments .instrument .github {
  color: black;
}
.instruments-wrapper .instruments .instrument .python {
  background: linear-gradient(120deg, #ffde57, #4584b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instruments-wrapper .instruments .instrument span {
  padding-left: 10px;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
}
.app-wrapper h1 {
  color: #CC9966;
  font-weight: 800;
}

.portf {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.portf h1 {
  display: flex;
  justify-content: center;
}
.portf .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5%;
}
.portf .cards .card {
  border-radius: 2%;
  max-width: 40vw;
  max-height: 40vh;
  position: relative;
  margin-top: 5%;
  will-change: transform;
  user-select: none;
  /*&:hover{
      .card-img {
          transform: scale(1.1);
      }
  }*/
}
.portf .cards .card:hover {
  box-shadow: dark 5px 5px;
}
.portf .cards .card .card-img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  border: 1px solid black;
  pointer-events: none;
  user-select: none;
}
.contact {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.contact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  color: black;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.4em;
  width: 180px;
  height: 45px;
  padding: 15px;
  border-radius: 5%;
}
.contact .contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-buttons .contact-button .fab {
  padding: 20px;
  margin: 30% 20px;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15%;
}
.contact .contact-buttons .contact-button .fab:hover {
  opacity: 0.7;
}
.contact .contact-buttons .contact-button .fa-vk {
  background-color: #2787F5;
  color: white;
}
.contact .contact-buttons .contact-button .fa-github {
  background-color: black;
  color: white;
}
.contact .contact-buttons .contact-button .fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}

/*# sourceMappingURL=/app.c328ef1a.css.map */