body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #252839;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .welcome {
    flex-direction: column;
    height: 100vh;
  }
}
.welcome #particles-js {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.welcome .welcome-text {
  z-index: 1;
  font-size: 1.3em;
  width: 40%;
  padding: 10%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome .welcome-text .pcHello {
  font-size: 2.4em;
}
@media screen and (max-width: 450px) {
  .welcome .welcome-text {
    font-size: 1.2em;
    width: 90vw;
    padding: 0;
    justify-content: flex-start;
    text-align: center;
  }
  .welcome .welcome-text .pcHello {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .welcome .welcome-text {
    margin: -12% 0;
    padding: 0;
    font-size: 1.4em;
  }
}
.welcome .welcome-img {
  z-index: 1;
  width: 60%;
  color: grey;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome .welcome-img .me {
  width: 100%;
  height: auto;
}
.welcome .welcome-img figcaption {
  text-align: center;
}
.welcome .welcome-img .mobHello {
  display: none;
}
@media screen and (max-width: 450px) {
  .welcome .welcome-img .me {
    width: 90vw;
    height: auto;
  }
  .welcome .welcome-img .mobHello {
    display: block;
    text-align: center;
    font-size: 3em;
  }
}
@media screen and (max-width: 380px) {
  .welcome .welcome-img .mobHello,
.welcome .welcome-img figcaption {
    margin: 0;
    padding: 0;
  }
}
.welcome .arrow {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin-bottom: 2%;
}
.welcome .arrow i {
  font-size: 3em;
}
@media screen and (max-width: 450px) {
  .welcome .arrow {
    bottom: 4vh;
    left: 46%;
  }
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}

.modal-wrapper {
  display: block;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 80, 80, 0.7);
  z-index: 2;
}
.modal-wrapper .close {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.modal-wrapper .modal {
  z-index: 3;
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 60vw;
  height: fit-content;
  padding: 2% 0;
  position: relative;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal {
    width: 100%;
    border-radius: 0;
    justify-content: space-around;
    text-align: center;
  }
}
.modal-wrapper .modal .close-cross {
  display: block;
  position: absolute;
  right: 5%;
  top: 4%;
  padding: 1%;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .close-cross {
    display: block;
    right: 5%;
    position: absolute;
    top: 3%;
    padding: 0%;
  }
}
.modal-wrapper .modal .img-wrapper {
  max-width: 40vw;
  max-height: 20vw;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .img-wrapper {
    max-width: 100vw;
    max-height: 100vh;
  }
}
.modal-wrapper .modal .img-wrapper .img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .img-wrapper .img {
    width: 95vw;
    height: auto;
  }
}
.modal-wrapper .modal .desc {
  width: 80%;
  height: auto;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .desc {
    font-size: 1.2em;
  }
}
.modal-wrapper .modal .links {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .links {
    width: 100vw;
    flex-wrap: wrap;
  }
}
.modal-wrapper .modal .links .link {
  padding: 2%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 1.3em;
  border: 1px solid black;
  background-color: #333366;
  color: white;
  will-change: transform;
  transition: transform 0.3s;
}
.modal-wrapper .modal .links .link:hover, .modal-wrapper .modal .links .link:focus {
  transform: scale(1.2);
}
@media screen and (max-width: 450px) {
  .modal-wrapper .modal .links .link {
    width: 60%;
    padding: 4%;
    font-size: 1.6em;
  }
  .modal-wrapper .modal .links .link:hover, .modal-wrapper .modal .links .link:focus {
    transform: scale(1.1);
  }
  .modal-wrapper .modal .links .link:nth-last-of-type(n) {
    margin-top: 5%;
  }
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}

.instruments-wrapper {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.instruments-wrapper h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruments-wrapper .instruments {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (max-width: 450px) {
  .instruments-wrapper .instruments {
    width: 100vw;
    justify-content: space-around;
  }
}
.instruments-wrapper .instruments .instrument {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #5f7583;
  margin: 5px;
  font-size: 1.2em;
  border-radius: 2%;
  user-select: none;
}
@media screen and (max-width: 450px) {
  .instruments-wrapper .instruments .instrument {
    padding: 10px;
    box-sizing: border-box;
    width: calc(50% - 10px - 20px);
  }
}
.instruments-wrapper .instruments .instrument:hover, .instruments-wrapper .instruments .instrument:focus {
  filter: brightness(1.1);
}
.instruments-wrapper .instruments .instrument img {
  width: 2em;
  height: 2em;
}
.instruments-wrapper .instruments .instrument .github {
  color: black;
}
.instruments-wrapper .instruments .instrument .python {
  background: linear-gradient(120deg, #ffde57, #4584b6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instruments-wrapper .instruments .instrument span {
  padding-left: 10px;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}

.portf {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.portf h1 {
  display: flex;
  justify-content: center;
}
.portf .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5%;
}
.portf .cards .card {
  border-radius: 2%;
  max-width: 40vw;
  max-height: 40vh;
  position: relative;
  margin-top: 5%;
  will-change: transform;
  user-select: none;
  /*&:hover,&:focus{
                   .card-img {
                       transform: scale(1.1);
                   }
               }*/
}
@media screen and (max-width: 450px) {
  .portf .cards .card {
    max-width: 90vw;
  }
}
.portf .cards .card:hover, .portf .cards .card:focus {
  box-shadow: dark 5px 5px;
}
.portf .cards .card .card-img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  border: 1px solid black;
  pointer-events: none;
  user-select: none;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #333366;
  color: white;
  margin: 0;
  padding: 0;
}
.app-wrapper h1,
.app-wrapper .pcHello {
  color: #cc9966;
  font-weight: 800;
}

.contact {
  width: 100vw;
  height: auto;
  margin-top: 10%;
}
.contact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgreen;
  color: black;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  width: 20%;
  padding: 2%;
  border-radius: 10px;
  will-change: background-color;
  transition: background-color 200ms ease;
}
.contact .contact-mail:hover, .contact .contact-mail:focus {
  background-color: #4ee44e;
}
@media screen and (max-width: 450px) {
  .contact .contact-mail {
    width: 50%;
    padding: 5%;
  }
}
.contact .contact-buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4% 0;
}
@media screen and (max-width: 450px) {
  .contact .contact-buttons {
    padding: 10% 0;
    width: 100%;
    margin: 0 auto;
  }
}
.contact .contact-buttons .contact-button .fab {
  padding: 0.6em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15%;
  transform: scale(1);
  transition: transform 100ms ease;
}
.contact .contact-buttons .contact-button .fab:hover, .contact .contact-buttons .contact-button .fab:focus {
  transform: scale(1.2);
}
.contact .contact-buttons .contact-button .fa-vk {
  background-color: #2787f5;
  color: white;
}
.contact .contact-buttons .contact-button .fa-github {
  background-color: black;
  color: white;
}
.contact .contact-buttons .contact-button .fa-telegram {
  background-color: #0088cc;
  color: white;
}
.contact .contact-buttons .contact-button .fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}
/*# sourceMappingURL=index.ac93e151.css.map */
