@import '../app.scss';

.contact {
	width: 100vw;
	height: auto;
	margin-top: 10%;
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contact-mail {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: lightgreen;
		color: black;
		margin: 0 auto;
		text-decoration: none;
		font-size: 1.6em; //1.4
		font-weight: bold;
		width: 20%; //width: 180px;
		//height: 50%; //height: 45px;
		padding: 2%; //padding: 15px;
		border-radius: 10px;
		will-change: background-color;
		transition: background-color 200ms ease;
		&:hover,
		&:focus {
			background-color: #4ee44e;
		}
		@media screen and (max-width: $mob) {
			width: 50%;
			padding: 5%;
		}
	}
	.contact-buttons {
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		padding: 4% 0;
		@media screen and (max-width: $mob) {
			padding: 10% 0;
			width: 100%;
			margin: 0 auto;
		}
		.contact-button {
			.fab {
				padding: 0.6em; //20px;
				font-size: 2em;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				border-radius: 15%;
				transform: scale(1);
				transition: transform 100ms ease;
				&:hover,
				&:focus {
					transform: scale(1.2);
				}
			}
			.fa-vk {
				background-color: #2787f5;
				color: white;
			}
			.fa-github {
				background-color: black;
				color: white;
			}
			.fa-telegram {
				background-color: #0088cc;
				color: white;
			}
			.fa-instagram {
				background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
					radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
					radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
					radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
					radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
					radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
					radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
					linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
				color: white;
			}
		}
	}
}
