@import '../app.scss';

.welcome {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	@media screen and (max-width: $mob) {
		//450px
		flex-direction: column;
		justify-content: space-around;
		height: 100vh; //812px;
	}
	.tsparticles {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.welcome-text {
		z-index: 1;
		font-size: 1.3em;
		width: 40%;
		padding: 10%;
		user-select: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.pcHello {
			font-size: 2.4em;
		}
		@media screen and (max-width: $mob) {
			font-size: 1.2em;
			margin-top: -10%;
			width: 90vw;
			padding: 0;
			justify-content: flex-start;
			text-align: center;
			.pcHello {
				display: none;
			}
		}
		@media screen and (max-width: 380px) {
			margin: -12% 0;
			padding: 0;
			font-size: 1.4em;
		}
	}
	.welcome-img {
		z-index: 1;
		width: 60%;
		color: grey;
		pointer-events: none;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;
		.me {
			width: 100%;
			height: auto;
		}
		figcaption {
			text-align: center;
		}
		.mobHello {
			display: none;
		}
		@media screen and (max-width: $mob) {
			.me {
				width: 90vw;
				height: auto;
			}
			.mobHello {
				display: block;
				text-align: center;
				font-size: 3em;
			}
		}
		@media screen and (max-width: 380px) {
			.mobHello,
			figcaption {
				margin: 0;
				padding: 0;
			}
		}
	}
	.arrow {
		position: absolute;
		display: block;
		bottom: 0;
		left: 50%;
		right: 50%;
		margin-bottom: 2%;
		i {
			font-size: 3em;
		}
		@media screen and (max-width: $mob) {
			position: initial;
			//top: calc(812px - 3em);
			width: 100%;
			text-align: center;
			margin: 0 auto;
			padding-left: 0.3em;
		}
	}
}
