@import "../app.scss";

    .instruments-wrapper {
        width:100vw;
        height:auto;
        margin-top:10%;
        h1 {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .instruments {
            width: 60%;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;
            @media screen and (max-width:$mob) {
                width: 100vw;
                justify-content: space-around;
            }
            .instrument {
                display:flex;
                justify-content: center;
                align-items: center;
                padding:15px;
                background-color:rgba(95, 117, 131);
                margin:5px;
                font-size: 1.2em;
                border-radius: 2%;
                user-select: none;
                @media screen and (max-width:$mob) {
                    padding:10px;
                    box-sizing: border-box;
                    width: calc(100% * (1/2) - 10px - 20px);
                }
                &:hover {
                    filter:brightness(1.1)
                }
                img {   
                    width:2em;
                    height:2em;
                }
                .github {
                    color:black;
                }
                .python {
                    background:linear-gradient(120deg, #ffde57, #4584b6);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                span {
                    padding-left:10px;
                }
            }
        }
    }