@import '../app.scss';

    .portf{
        width:100vw;
        height:auto;
        margin-top:10%;
        h1 {
            display: flex;
            justify-content: center;
        }
        .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-top:-5%;
            .card{
                border-radius: 2%;
                max-width:$card_width;
                max-height:$card_height;
                position: relative;
                margin-top:5%;
                will-change: transform;
                user-select: none;
                @media screen and (max-width:$mob) {
                    max-width:90vw;
                }
                &:hover{
                    box-shadow: dark 5px 5px;
                }
                .card-img {
                    width:100%;
                    height:100%;
                    border-radius: 2%;
                    border: 1px solid black;
                    pointer-events: none;
                    user-select: none;
                }
                /*&:hover{
                    .card-img {
                        transform: scale(1.1);
                    }
                }*/
            }
        }
    }