.app-wrapper{
    width:100%;
    height:100%;
    background-color:#252839;
    color:white;
    h1 {
        color:#f1b631;
        font-weight: 800;
    }
    .welcome{
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        .welcome-text{
            font-size: 1.3em;
            width:40vw;
            padding:10%;
        }
        .welcome-img{
            width:60vw;
            color:grey;
            .me {
                width:100%;
                height: auto;
            }
            figcaption {
                text-align: center;
            }
        }
    }
    .instruments-wrapper {
        h1 {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .instruments {
            width: 60%;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;
            .instrument {
                display:flex;
                justify-content: center;
                align-items: center;
                padding:15px;
                background-color:rgba(95, 117, 131);
                margin:5px;
                font-size: 1.2em;
                border-radius: 2%;
                .instrument-icon {
                    width:25px;
                    height:25px;
                    padding-right:10px;
                }
            }
        }
    }
    .portf{
        width:100vw;
        height:auto;
        margin-top:5%;
        h1 {
            display: flex;
            justify-content: center;
        }
        .cards{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .card{
                border: 1px solid black;
                border-radius: 5%;
                max-width:40%;
                max-height:40%;
                position: relative;
                margin-top:5%;
                .card-img {
                    height:100%;
                    width:100%;
                }    
                .card-text{
                    visibility: hidden;
                    z-index:3;
                    background-color:white;
                    position:absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(83, 83, 83, 0.8);
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                &:hover{
                    .card-text{
                        visibility:visible;
                    }
                }
            }
        }
    }
    .contact {
        h1 {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .contact-mail {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgreen;
            color: black;
            margin: 0 auto;
            text-decoration: none;
            font-size: 1.4em;
            width: 180px;
            height: 45px;
            padding:15px;
            border-radius: 5%;
        }
        .contact-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            .contact-button {
                .fab {
                    padding: 20px;
                    margin: 30% 20px;
                    font-size: 1.8em;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 15%;
                    &:hover {
                        opacity: 0.7;
                      }
                  }
                .fa-vk {
                    background-color: #2787F5;
                    color:white;
                }
                .fa-github {
                    background-color: black;
                    color:white;
                }
                .fa-instagram {
                    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                    color:white;
                }
                
            }
        }
    }
}
