.modal-wrapper {
    display: block;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(80, 80, 80, 0.7);
    .modal {
        background-color: white;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:black;
        width:60vw;
        height:75vh;
        .img-wrapper {
            max-width:40vw;
            max-height:20vw;
            .img {
                height:100%;
                width:100%;
            }
        }
        .close-button {
            padding:10px;
            background-color: lightblue;
            
        }
    }
}